<!-- 카테고리 -->
 <section class="container-fluid d-flex justify-content-center align-items-center">
  <div id="category-list">
    <div class="btn-group" role="group">
      <button type="button active" class="btn btn-secondary">전체</button>
      <button type="button" class="btn btn-secondary">인기 아이디어</button>
      <button type="button" class="btn btn-secondary">여행</button>
      <button type="button" class="btn btn-secondary">음식</button>
      <button type="button" class="btn btn-secondary">패션 및 뷰티</button>
      <button type="button" class="btn btn-secondary">인테리어</button>
      <button type="button" class="btn btn-secondary">스포츠/레저</button>
      <button type="button" class="btn btn-secondary">문화생활</button>
      <button type="button" class="btn btn-secondary">지식습득</button>
      <button type="button" class="btn btn-secondary">역사</button>
      <button type="button" class="btn btn-secondary">기타</button>
    </div>
  </div>
</section>

<!-- 아이템 리스트 -->
<section class="container">
  <div class="card-columns">
   <!-- item each do -->
   <% @items.each do |x| %>
     <div class="card">
       <%= image_tag(x.img.to_s, class: 'card-img-top img-fluid') %>
       <div class="card-block">
         <h4 class="card-title"><%= x.title %></h4>
         <p class="card-text"><%= x.content %></p>
       </div>
     </div>
   <% end %>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-block">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</section>
