<!-- 카테고리 -->
 <section class="container-fluid d-flex justify-content-center align-items-center">
  <div id="category-list">
    <div class="btn-group" role="group">
      <button type="button active" class="btn btn-secondary">전체</button>
      <button type="button" class="btn btn-secondary">인기 아이디어</button>
      <button type="button" class="btn btn-secondary">새로운 스킬</button>
      <button type="button" class="btn btn-secondary">새로운 스킬</button>
      <button type="button" class="btn btn-secondary">새로운 스킬</button>
      <button type="button" class="btn btn-secondary">새로운 스킬</button>
    </div>
  </div>
</section>

<!-- 아이템 리스트 -->
<section class="container">
  <div class="card-columns">
   <!-- item each do -->
    <div class="card">
      <img class="card-img-top img-fluid" src="..." alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title that wraps to a new line</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-fluid" src="..." alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title that wraps to a new line</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-fluid" src="..." alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-fluid" src="..." alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title that wraps to a new line</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-block">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</section>