<section class="container">
  <h2 class="mt-5">마이페이지</h2>
  <hr>
  <h5 >이영민 회원님의 버킷리스트입니다 화이팅 ^0^</h5>
  <hr>
  <table class="partner-match table table-hover">
            <thead class="border-top-0">
              <tr>
                <th class="border-top-0">#</th>
                <th class="border-top-0">실천여부</th>
                <th class="border-top-0">아이템명</th>
                <th class="border-top-0 text-right">스토리</th>
              </tr>
            </thead>
            <tbody>
              <% @items.each do |x| %>
              <tr>
                <th scope="row"><%= x.id %></th>
                <td></td>
                <td><%= x.title %></td>
                <td class="row"> 
                  <button class="col-5 ml-2 btn btn-outline-secondary">
                    <%= link_to item_path(x) do %>
                      보러가기
                    <% end %>
                  </button>
                    <button class="col-5 ml-2 btn btn-blue disabled">실천스토리</button>
                </td>
              </tr>
              <tr>
              <% end %>
                <th scope="row">2</th>
                <td>V</td>
                <td>결혼 해보기 (?)</td>
                <td class="row">
                  <button class="col-5 ml-2 btn btn-outline-secondary">보러가기</button>
                  <button class="col-5 ml-2 btn btn-blue">실천스토리</button>
                </td>
              </tr>
            </tbody>
          </table>
</section>
