<div class="col-md-6 form-group">
  <%= f.text_field :title, required: true, class: 'form-control', placeholder:'title'%>
</div>
<div class="col-md-6 form-group">
  <%= f.text_area :content, required: true, class: 'form-control', placeholder:'content' %>
</div>
