// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* category */

@media screen and (max-width: 767px) {
  #category-list { 
    overflow: auto;
    width: 100%;
    .btn-group {
      width: 990px;
      padding: 0;
    }
  }
}

#category-list {
  button.active {
    background-color: #40c5ee;
    font-weight: 700;
    color: #fff;
  }
  button {
    width: 90px;
    height: 75px;
    font-size: 0.9rem;
    color: #888;
    border-color: #efefef;
    border-radius: 0;
    vertical-align: top;
    &:hover {
      color: #fff;
    }
  }
}

.added {
  color: #fff;
  background-color: #40c5ee;
}